#set ($envs = $envVars)
#foreach ($env in $envs)
#if (!!$env.getDescription() && !$env.getDescription().isBlank())
#--- $env.getDescription() ---#
#end
#if ($env.isRequired())
$env.getOriginalName()=$env.getProdValue()
#else
# $env.getOriginalName()=$env.getProdValue()
#end
#end
