# !!! Uncomment and set value(s) if override is required !!!
#set ($envs = $envVars)
#foreach ($env in $envs)
#if (!!$env.getDescription() && !$env.getDescription().isBlank())
#--- $env.getDescription() ---#
#end
#if ($env.isRequired())
$env.getName()=$env.getProdValue()
#else
# $env.getName()=$env.getProdValue()
#end
#end
